<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bowls</title>
</head>
<body>


    <app-header></app-header>
    <app-liste></app-liste>
        <ng-container *ngIf="last_article.length==3">
        <!-- Display By Category -->
        <div class="row mt-4 mx-auto" style="position: relative; top: 5px; left: 20px; ">
            <section id="toutPro">
                <div *ngFor="let categorie of categories" class="col-md-11 mx-4" >
                    <div class="card shadow-sm mb-3" >
          
                        <div class="card-header" [attr.id]="'categorie' + categorie.id">
                            {{categorie.nomCategorie}}
                        </div>
          
    <div class="my-5 row">
        <ng-container *ngFor="let article of articles">
          
          <!-- Products -->
          <ng-container *ngIf="article.categorie_id == categorie.id">
        
              <div class="col-md-4" >
        
        
                  <div class="card HOVER mb-3 " style="padding: 10px;height: 470px;width: 400px ;">
        
                      <div class="d-flex justify-content-between p-3">
                          <p class="lead mb-0">{{article.Nom_Produit}}</p>
                          <div class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
                              style="width: 35px; height: 35px ">
                              <p class="text-white mb-0 small" >x{{article.Quantite_stocke}}</p>
                          </div>
                        </div>
          
                    <a [routerLink]="['/dettails', article.id]">
                        <img src="{{ imageDirectory }}{{ article.Image_Produit }}" class="card-img-top"
                            alt="{{ article.Image_Produit }}" style="width: 280px; height: 280px;" />
                    </a>
                    <div class="card-body">
                        <div class="">
                            <div *ngFor="let categorie of categories">
                                <p *ngIf="categorie.id == article.categorie_id" class="small"><a
                                        href="#!" class="text-muted">{{categorie.nomCategorie}}</a></p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mb-3">
                            <h4 class="mb-0">{{article.Nom_Produit}}</h4>
                            <h5 class="text-dark mb-0">{{article.Prix_Produit}} dt</h5>
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-muted mb-0">Available: <span
                                    class="fw-bold">{{article.Quantite_stocke}}</span>
                                                            
              </p>
              <span> <a [routerLink]="['/dettails', article.id]"> <i class="fa fa-eye" style="color: cadetblue;"></i></a>
              </span>
             
                 </div>
                        </div>
                        </div>
                         </div>
                         </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </section>
          </div>
    
          <app-footer></app-footer>
          
    
      
        