.dashboard-and-content {
    display: flex;
}

.dashboard {
    width: 280px; /* Largeur de votre dashboard */
    padding: 20px;
    background-color: #e3e1b4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    flex-grow: 1;
}
