
<app-header></app-header>

<ng-container>
    <ng-container >
        <div class="container">
            <div class="row my-4" >

                <!-- Cart Products -->
                <div class="col-md-9">
                    <div class="card shadow-sm">
                        <div class="card-title">
                            <h5 class="text-center">My Cart</h5>
                        </div>

                        <div class="card-body">

                            <!-- Products -->
                            <ng-container >
                                <ng-container *ngFor="let article of articles">
                                    <ng-container >
                                        <div class="card mb-3" style="height: 120px; width: 130;">
                                            <div class="card-body">
                                               
                                               
                                                <!-- Fin de l'ajout du log -->
                                                <div class="d-flex justify-content-between align-items-center">

                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div
                                                            class="align-self-start d-flex flex-column align-items-center">
                                                            <img class="img-fluid rounded"
                                                                src="{{ imageDirectory }}{{ article.Image_Produit }}"
                                                                alt="{{ article.Image_Produit }}"
                                                                style="height: 100px; width: 90;">
                                                        </div>

                                                        <div class="mb-0">
                                                            <div class="d-flex mb-0 justify-content-between">
                                                                <h5 class="me-3">{{ article.Nom_Produit }}</h5>
                                                            </div>
                                                            <p class="mt-0" 
                                                            style="display: -webkit-box; 
                                                            -webkit-line-clamp: 1;
                                                            -webkit-box-orient: vertical;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;">{{ article.Description }}
                                                            </p>
                                                        </div>
                                                    </div>



                                                    <div
                                                        class="d-flex flex-column justify-content-center aligh-items-center">
                                                        <h5 class="me-3 text-center">{{ article.Prix_Produit }} dt</h5>

                                                        <div class="d-flex align-items-center">
                                                            <Button type="button" class="btn btn-warning btn-sm me-1" ><i
                                                                    class="fa-solid fa-minus"  (click)="deleteOne(article)"></i></Button>
                                                            <h6 class="mx-1">{{ article.Quantite_stocke }}</h6>
                                                            <Button type="button" class="btn btn-warning btn-sm ms-1"  (click)="addOne(article )"><i
                                                                    class="fa-solid fa-plus"></i></Button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- Total -->
                <div class="col-md-3">
                    <div class="card shadow-sm">

                        <div class="card-total mt-3">
                            <h5>Total</h5>
                        </div>

                        <div class="card-body mt-0">

                            <div class="d-flex justify-content-between my-0">
                                <p class="mb-3">Sub-Total</p>
                                <p class="mb-3">{{TTC}}dt</p>
                            </div>

                            <div class="d-flex justify-content-between my-0">
                                <p class="mb-3">Shipping</p>
                                <p class="mb-3">8.50dt</p>
                            </div>

                            <hr class="my-0">

                            <div class="d-flex justify-content-between my-0">
                                <p class="my-3"><strong>Estimated Total</strong></p>
                                <p class="my-3"><strong>{{total}}dt</strong></p>
                            </div>

                            <div class="d-grid gap-2">
                                <Button class="btn btn-primary" (click)="confirmer()">Buy Now</Button>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </ng-container>
</ng-container>

<ng-container  >
    <div class="container">
        <div class="card card-empty">
            <div class="card-body">
                <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                    alt="" style="height: 250px; width: 300px;">

                <h6 >you havent login. <a routerLink="/login"> please login.</a> </h6>
                <button  routerLink="/login" class="btn btn-primary">login Now</button>

            </div>
        </div>

    </div>
</ng-container>

<div class="H">

</div>