<div class="dashboard-container">
    <a href="/" class="logo-link">
        <img src="../../../assets/img/logo-removebg-preview.png" class="logo-img">
    </a>

    <hr>

    <ul class="nav-links">
        <li>
            <a routerLink="dashboard" class="nav-link" [ngClass]="{'active': selectedOne === 1}">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>
        <li>
            <a href="produit" class="nav-link" ><i class="fas fa-box-open"></i> Products
            </a>
        </li>
        <li>
            <a href="categories" class="nav-link" > <i class="fas fa-list"></i> Categories
            </a>
        </li>
        <li>
            <a href="customers" class="nav-link" ><i class="fas fa-users"></i> Customers
            </a>
        </li>
        <li>
            <a href="panier" class="nav-link" > <i class="fas fa-shopping-cart" ></i> Orders
            </a>
        </li>
    </ul>
</div>
