
<div class="dashboard-and-content">
    <div class="dashboard">
    <app-home-dash></app-home-dash>
    </div>
    <div class="content">
<div class="container">
    <div class="my-3">
        <h2>List of Users</h2>
    </div>

    <!-- List -->
    <div class="my-5 row">
        <div class="col-md-12">
            <div class="card border-0 shadow-sm" style="border-radius: 10px;">
                <div class="card-body">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Adresse</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let customer of customers">
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.email }}</td>
                                <td>{{ customer.num_tel }}</td>
                                <td>{{ customer.Adresse }}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>